/* Labels */
.vcenter {
  display: table-cell;
  vertical-align: middle;
}

.fundus_exam > .row {
  padding-bottom: 10px;
}

/*Textarea box*/
#chief_complaint {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#rx_notes {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#assesment {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#plan {
  width: 100%;
  resize: none;
}

#fundus_dialation_notes {
  width: 100%;
}

#fundus_od_cd_notes {
  width: 100%;
}

#fundus_od_retina_notes {
  width: 100%;
}

#fundus_od_macula_notes {
  width: 100%;
}

#fundus_os_cd_notes {
  width: 100%;
}

#fundus_os_retina_notes {
  width: 100%;
}

#fundus_os_macula_notes {
  width: 100%;
}
