/* Labels */
.vcenter {
  display: table-cell;
  vertical-align: middle;
}

/*Textarea box*/
#chief_complaint {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#rx_notes {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#assesment {
  width: 100%;
  resize: none;
}

/*Textarea box*/
#plan {
  width: 100%;
  resize: none;
}

#fundus_dialation_notes {
  width: 100%;
}
